{% extends '::base.html.twig' %}

{% block title %}Notícias {% endblock %}

{% block content %}
<div class="top">
    <div class="search pull-right">
        <form>
            <input type="text" name="search" placeholder="palavra chave..."/>
            <input type="submit" value="buscar"/>
        </form>
    </div>
    <h1>Notícias</h1>
</div>

{% if collection|default(null) %}

<div id="send_to_email_window" title="Enviar notícia por email" style="height: 400px; min-height: 109px; display:none;" >
    <iframe id="send_to_iframe" src="/_blank.html" width="760" height="700" style="border:none" scrolling="no"></iframe>
</div>
<input type="hidden" id="url_submit_vote" value="{{ path('stars_submit') }}" />
<div class="tabs newsCollection">
    <ul>
        <li><a href="#tabs-1">{{ node.name|default('Últimas') }}</a></li>
    </ul>
    <div id="tabs-1" class="accordion news ui-accordion ui-widget ui-helper-reset">
    {% set l = 0 %}
    {% for n in collection %}
        {% include 'GpupoCamelSpiderReaderBundle:Default:line.html.twig' with {'news': n,  'cicle': cycle(['even','odd'], l)} %}
    {% set l = l+1 %}
    {% endfor %}

    </div>
</div>

<script type="text/javascript" src="/js/jquery.ui.stars/jquery.ui.stars.js"></script>
<link rel="stylesheet" href="/js/jquery.ui.stars/jquery.ui.stars.min.css"  type="text/css" media="all" />
{#<script>

jQuery(document).ready(function(){
});
</script>#}
{% else %}
    <p>Sem notícias a exibir</p>
{% endif %}
{% endblock %}




