<pdf Author="Funpar" Title="{{ news.title }}">
    <dynamic-page>
       <img src="http://{{ app.request.host ~ asset('/img/header_doc.png') }}" />
        <h1>{{ news.title }}</h1>
        {{news.contentToPdf|raw }}
        {% include 'GpupoCamelSpiderReaderBundle:Default:_info.html.twig' with {
                'news': news, 'subscription': news.subscription } %}
    </dynamic-page>
</pdf>
