{% extends '::basic.html.twig' %}

{% block content %}

<p>{{ log|raw }}</p>
<style>
</style>
<script type="text/javascript">
  $(document).ready(function() {
      console.log('Try close parent window');
  });
</script>


{% endblock %}
